body{
    background-color: lightgray;
}

#panel{
    background-color: #303030;
    min-height: 100px;
    padding: 10px;
}
#board{
    background-color: #565656;
}
.field{
    width: 50px;
    height: 50px;
    background-color: #009185;
    margin: 5px;
    border: black solid 5px;
    border-radius: 3px;
    color: white;
}

.pawn{
    background-color: #00ffae;
    color: black;
}

#dice-result
{
    margin: 5px;
    color: white;
}
